body {
  font-family: 'Open Sans', sans-serif;
}

footer {
  font-size: 11px;
  position: fixed;
  bottom: 8px;
  left: 0;
  right: 0;
  text-align: center;
  color: #303030;
}

footer a {
  text-decoration: none;
  color: #303030;
}

/* h4 {
  display: block;
  font-weight: bold;
} */

#button {
  height: 100px;
  width: 100px;
  background: pink;
  position: fixed;
  top: 50px;
  left: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}